/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*{
  margin: 0;
  padding: 0;
  outline: 0;
}
body{
  font-family: sans-serif,arial;
  transition: all 0.5s ease;
}
img{
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
a:hover{
  color: orange;
}
ul{
  list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
  /*margin: 15px 0px;*/
}
p{
  margin: 10px 0px;
  line-height: 150%;
}
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.clear{
  overflow: hidden;
}
/*typography finish.....*/
/*header part start*/
.full_wrapper{
  width: 100%;
}
.wrapper{
  width: 1112px;
  margin:0 auto;
}
.header_bg{
  background: #252323;
}
.header_part{
  background: #252323;
  height: 60px;
}
.header_left img{
  width: 150px;
  margin-top: 10px;
}
.header_right ul{
  margin-top: 13px;
}
.header_right ul li{
  float: left;
  margin-right: 30px;
}
.header_right ul li:last-child{
  margin-right: 0px;
}
.header_right ul li a{
  color: white;
  font-size: 23px;
}
.header_right ul li a:hover{
  color: yellow;
}
/*header part finish*/

/*menu part start*/
.nav_bg{
  background: #fff;
}
.nav_part{
  height: 80px;
  background: #fff;
}
.nav_part ul{
  
}
.nav_part ul li{
  float: left;
}
.nav_part ul li a {
    color: #888888;
    padding: 27px 0px;
    margin-right: 25px;
    display: inline-block;
}
.nav_part ul li a:hover, .active{
  color:#00C0D7 !important;
  border-bottom: 1px solid #00C0D7;
}
.nav_right{

}
.search_btn {
    padding: 10px 27px;
    margin: 21px 0px;
    border: 1px solid #c9c9c9;
    font-size: 14px;
    background: url(../img/search.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 195px 10px;
}
/*menu part finish*/

/*banner part start*/
.banner_bg{
    background: url(../img/banner.jpg) no-repeat scroll 0 0;
    background-size: cover;
    background-attachment: fixed;
}
.banner_section{
    height: 600px;
}
.banner_content {
    width: 900px;
    transform: translate(110px, 220px);
}
.banner_content h2{
    color: #00BAC6;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}
.banner_content p{
    color: #D68F3F;
    text-align: center;
}
/*banner part finish*/

/*content part start*/
.content_bg{
  background: #fff;
}
.content_section{

}
.top_content_section{
  padding: 60px 0px 80px 0px;
  text-align: center;
}
.top_content_section h2{
  text-transform: uppercase;
  font-size: 30px;
  color: #818181;
  font-weight: normal;
}
.top_content_section p{
  color: #9B9BB5;
  font-size: 15px;
}
.feature_section{

}
.same_feature{
  width: 340px;
  margin-right:45px;
  text-align: center;
  float: left;
  cursor: pointer;
}
.same_feature:last-child{
  margin-right: 0px;
}
.same_feature_icon{
  font-size: 80px;
  color: #CACACA;
}
.same_feature h2{
  color: #8896B8;
  font-size: 20px;
  font-weight: normal;
}
.same_feature p{
  color: #9A9A9A;
  font-size: 14px;
}
.blog_post_section{
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
}
.same_blog_post{
  width: 338px;
  margin-right:45px;
  border: 1px solid #ddd;
  float: left;
  cursor: pointer;
}
.same_blog_post:last-child{
  margin-right: 0px;
}
.same_blog_post img{
  width: 100%;
  height: 200px;
}
.same_blog_post h2{
  color: #717070;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px 10px 25px;
}
.same_blog_post p{
  color: #8181A2;
  margin-left:25px;
  font-size: 15px;
}
.test_section{
  margin-bottom: 100px;
  display: inline-block;
  margin-top: 100px;
}
.same_test{
  width: 157px;
  margin-right: 150px;
  float: left;
  cursor: pointer;
}
.same_test:last-child{
  margin-right: 0px;
}
.same_test img{
  width: 200px;
}
/*content part finish*/

/*top footer part start*/
.footer_top_bg{
  background: #504E4D;
  height:480px;
}
.top_footer{
  padding: 45px 0px;
 
}
.footer_top_left{
  width: 230px;
  margin-right: 60px; 
   float: left;
}
.footer_top_left h2, .footer_top_middle h2, .footer_top_right h2{
  color:#fff; 
  font-size:20px;
  font-weight: normal;
}
.footer_top_left_content{
  border-bottom: 1px solid #5C5C5C;
  padding-bottom: 20px;

}
.footer_top_left_content:last-child{
  border-bottom: 0px;
}
.footer_top_left_content h5{
  color: #B9C0C0;
  font-size: 16px;
  margin-top: 15px;
  font-weight: normal;
}
.footer_top_left_content p {
    color: #7A8989;
    font-size: 14px;
    padding-left: 25px;
}
.footer_top_left_icon {
    background: url(../img/icon1.png);
    background-repeat: no-repeat;
    background-position: -6px -5px;
    cursor: pointer;
}
.footer_top_middle{
  width: 220px;
  float: left;
}
.footer_top_middle p{
  color: #C1C1C1;
  font-size: 16px;
  line-height: 170%;
  font-weight: normal;
}
.m2{
  margin-left: 60px;
}
.footer_top_right{
  width: 220px;
  float: left;
  margin-left: 60px;
}
.footer_top_right h5{
  color: #BAC1C1;
  font-size: 15px;
  font-weight: normal;
  line-height: 150%;
  margin-bottom: 40px;
}
.footer_top_right p{
  color: #BAC1C1;
  font-size: 14px;
  padding-left: 25px;
}
.footer_top_right_icon1{
    background: url(../img/icon2.png);
    background-repeat: no-repeat;
    background-position: -6px -5px;
    cursor: pointer;
}
.footer_top_right_icon2{
    background: url(../img/icon3.png);
    background-repeat: no-repeat;
    background-position: -6px -5px;
    cursor: pointer;
}
.footer_top_right_icon3{
    background: url(../img/icon4.png);
    background-repeat: no-repeat;
    background-position: -6px -5px;
    cursor: pointer;
}
/*top footer part finish*/

/*main footer part start*/
.main_footer_bg{
  background:#262023;
  height:100px;
}
.main_footer{
  padding: 30px 0px;
}
.main_footer p{
  color: #C1C1C1;
}
.main_footer ul{
  margin-top: -35px;
}
.main_footer ul li{
  float: left;
  margin-right: 30px;
}
.main_footer ul li:last-child{
  margin-right: 0px;
}
.main_footer ul li a{
  color: white;
  font-size: 23px;
}

/*main footer part finish*/
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

